<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RestfulLanding.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RestfulLanding</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@LocalizationManager.current["HomePageTitle"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Objective" asp-action="Create">@LocalizationManager.current["CreatePageTitle"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Profile">@LocalizationManager.current["ProfilePageTitle"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <a href="https://github.com/mrruke12" target="_blank">&copy; 2024 - RestfulLanding</a>
        </div>

        <div style="width: 8%; position: absolute; right: 15px;">
            <form method="post" asp-controller="Home" asp-action="SetLanguage">
            <select name="lang" class="text-center form-control" onchange="this.form.submit()">
                @foreach (Localization localization in LocalizationManager.localizations) {
                    if (localization.language == LocalizationManager.current.language) {
                        <option selected value="@localization.language">@localization.transcription</option>
                    } else {
                        <option value="@localization.language">@localization.transcription</option>
                    }
                }
                </select>
                <input type="hidden" name="returnUrl" value="@(Context.Request.Path + Context.Request.QueryString)"/>
            </form>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
